 .landing{
    color: rgb(255, 0, 0); 
}
p{
    border: 5px solid black;
margin: 20px;
padding: 10px;
font-size: 25px;
}
.navigation{
    display: flex;
    background-color: black;
    overflow-x: scroll;
}
.navigation > li ::-webkit-scrollbar{
    display: none;
}
.navigation > li{
    color: white;
    margin-right: 15px;
    list-style: none;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-size: 15px;
}
.navigation > li :hover{
    background-color: #159b23;
}